{
    {{#if_eq project 'react'}}
    "plugins": [
        "react-hot-loader/babel"
    ],
    "presets": [
        ["es2015", {"modules": false}],
        "react"
    ]
    {{else}}
    "plugins": ["transform-runtime"],
    "presets": ["es2015"]
    {{/if_eq}}
}
