<meta charset="utf-8">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen"/>
<meta content="telephone=no,email=no" name="format-detection">
<link rel="preconnect" href="//assets.geilicdn.com">
<link rel="preconnect" href="https://si.geilicdn.com">
<link rel="dns-prefetch" href="//assets.geilicdn.com">
<link rel="dns-prefetch" href="https://si.geilicdn.com">
<link rel="shortcut icon" href="$$_CDNPATH_$$/logo.ico" type="image/x-icon">
<link href="$$_CDNPATH_$$/logo.ico" rel="apple-touch-icon-precomposed">
<meta name="viewport" content="width=device-width,user-scalable=no">
