@import "../../lib/media.styl";

body,html
    margin: 0;
    padding: 0;

.center-box
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /*垂直居中*/

ul,ol,li
    list-style: none
a
    text-decoration: none;
    background-color: transparent;

